/* Google font Raleway */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600&display=swap');

/* Moderní box model */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans Mono', monospace;
	background: #013565 url('./images/house.jpg') center/cover no-repeat ;
}

.container {
	display: flex;
}






/* tlačítka */
.button {
	flex: 0 0 50%;
	border: 0;
	outline: 0;
	padding: 10px;
	font-size: 14px;
	background-color: #dedede;
	color: #888;
	cursor: pointer;
}

.button:hover {
	background-color: #c5c5c5;
}

.button--active {
	background-color: #0099ff;
	color: white;
}

.button--active:hover {
	background-color: #0088ee;
}

